* {
    margin: 0px;
    padding: 0px;
}

#topo{
    background-color: gray;
    text-align: center;
    height: 70px;
    padding-top: 18px;
}

#navegacao{
    
}

.blog{
    color: yellow;
}

.links_navegacao{
    text-decoration-line: none;
}


