/*formatação geral*/
* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gainsboro;
}
  /*IDs*/
#topo{
    background-color: gray;
    padding: 15px;
    text-align: center;
}

#logo{
    padding: 10px;
}

#navegacao{
    padding: 10px;
}

#principal{
    background: wheat;
    width: 980px;
    margin: 0px auto;
}

#postagem_principal{
    width: 720px;
    background: black;
    float: left;
}

#postagem_lateral{
    width: 240px;
    background: black;
    float: right;
}

/*LINKS*/

a{
    text-decoration: none;
}

a:link, a:visited{
    color: white;
    padding: 8px 12px;
}

a:hover{
    background-color: black;
}

/*CLASSES*/

.branco{
    color: white;
}


